In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text, func
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import inspect
import pandas as pd

In [2]:
#connect an engine to the exercise file
db_path = 'Resources/fitness.sqlite'
engine = create_engine (f'sqlite:///{db_path}')
conn = engine.connect()

In [3]:
#Checking the tables' columns and types
inspector = inspect(engine)
tables = inspector.get_table_names()
for table in tables:
    columns = inspector.get_columns(table)
    print([table])
    for x in columns:
        print(x['name'],x['type'])
    print('----')

['age']
id NUMERIC
calories_burnt DECIMAL(10, 2)
heart_rate INTEGER
age INTEGER
gender VARCHAR(10)
----
['exercise']
id NUMERIC
exercise VARCHAR(10)
duration INTEGER
calories_burnt DECIMAL(10, 2)
exercise_intensity INTEGER
----
['weight_bmi']
id NUMERIC
age INTEGER
gender VARCHAR(10)
dream_weight DECIMAL(10, 2)
actual_weight DECIMAL(10, 2)
bmi DECIMAL(10, 2)
----

In [4]:
#Dataframe for exercise table
exercise_df = pd.read_sql('select * from exercise', conn)
exercise_df

        id     exercise  duration  calories_burnt  exercise_intensity
0        1   Exercise 2        37      286.959851                   5
1        2   Exercise 7        43      343.453036                   5
2        3   Exercise 4        20      261.223465                   4
3        4   Exercise 5        39      127.183858                  10
4        5  Exercise 10        34      416.318374                   3
...    ...          ...       ...             ...                 ...
3859  3860   Exercise 5        22      154.113144                   7
3860  3861   Exercise 4        49      486.392768                   5
3861  3862   Exercise 4        56      264.307731                   9
3862  3863   Exercise 9        60      185.951870                   1
3863  3864   Exercise 7        22      116.360417                   1

[3864 rows x 5 columns]

In [5]:
#Data type for exercise.df
exercise_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  3864 non-null   int64
 1   exercise            3864 non-null   object
 2   duration            3864 non-null   int64
 3   calories_burnt      3864 non-null   float64
 4   exercise_intensity  3864 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 151.1+ KB

In [6]:
#Dataframe for age table
age_df = pd.read_sql('select * from age', conn)
age_df

        id  calories_burnt  heart_rate  age  gender
0        1      286.959851         170   45    Male
1        2      343.453036         142   25    Male
2        3      261.223465         148   20    Male
3        4      127.183858         170   33    Male
4        5      416.318374         118   29  Female
...    ...             ...         ...  ...     ...
3859  3860      154.113144         139   20  Female
3860  3861      486.392768         160   21  Female
3861  3862      264.307731         167   57    Male
3862  3863      185.951870         128   58  Female
3863  3864      116.360417         134   35    Male

[3864 rows x 5 columns]

In [7]:
#Data type for age.df
age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3864 non-null   int64
 1   calories_burnt  3864 non-null   float64
 2   heart_rate      3864 non-null   int64
 3   age             3864 non-null   int64
 4   gender          3864 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 151.1+ KB

In [8]:
#Dataframe for weight_bmi table
weight_bmi_df = pd.read_sql('select * from weight_bmi', conn)
weight_bmi_df

        id  age  gender  dream_weight  actual_weight        bmi
0        1   45    Male     91.892531      96.301115  29.426275
1        2   25    Male     64.165097      61.104668  21.286346
2        3   20    Male     70.846224      71.766724  27.899592
3        4   33    Male     79.477008      82.984456  33.729552
4        5   29  Female     89.960226      85.643174  23.286113
...    ...  ...     ...           ...            ...        ...
3859  3860   20  Female     98.147291      96.745133  32.447764
3860  3861   21  Female     97.598957      92.700573  26.602475
3861  3862   57    Male     94.946612      96.778936  31.435348
3862  3863   58  Female     64.743906      68.662889  19.774614
3863  3864   35    Male     56.757424      59.833403  29.581330

[3864 rows x 6 columns]

In [9]:
#Data type for weight_bmi_df
weight_bmi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3864 non-null   int64
 1   age            3864 non-null   int64
 2   gender         3864 non-null   object
 3   dream_weight   3864 non-null   float64
 4   actual_weight  3864 non-null   float64
 5   bmi            3864 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 181.2+ KB


- Between exercise 1 and 2 which one amongst each gender causes the highest heart rate and Calories burn? 
- How does weight, calories burn, heart rate, and BMI are linked with ageing?
- How does weight,calories burn, heart rate, and BMI are linked with genders?
- How does weight,calories burn, heart rate, and BMI for each gender compare together with ageing?
- How does actual weight and dream weight correlate between different age groups? 
- How does duration of exercise relate to age and gender ? could it indicate stamina level based on age/gender? 
- How does exercise intensity correlate with calories burned, heart rate?
- Which exercise is more intensive? (consider the calories burn, duration, HR, Exercise intensity)
- Which exercise will be more effective for achieving the dream weight?